body {
    background: gray;
}


/* DEBUG */
pre {
    background: orange;
    color: black;
    font-weight: bold;

}




/* FORMULAIRE TEST - css tout pourri */
.test_form {
    box-sizing: border-box;
    margin: 0;
    padding : 5px;
    text-align: center;
    background: lightgray;
}
.test_form > .form-2 {    
    box-sizing: border-box;
    display: inline-block;
    width: 40%;
    margin: 0 0 10px 0;
}
.test_form > .form-2 > label, input{
    box-sizing: border-box;
    display : block;
    width: 90%;
    padding: 5px;
}
.test_form > label, input{
    box-sizing: border-box;
    display : block;
    width: 90%;
    padding: 5px;
}
.test_form > input.bouton, button {
    margin : 0 auto;
    width : 40%;
}


/* cadre / vignette de recherche */
div.vignette {
    margin: 20px auto;
}
div.cadre {
    text-align:center;
    background: darkgray;
    height: 250px;
}



/* FOOTER */
footer {
    background: #444;
}




/* NAV du FOOTER */
ul.horizontal {
    text-align: center;
}
ul.horizontal li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 15px;
}
ul.horizontal li a {
    color: white;
}